language: java

script: mvn compile
before_deploy: mvn package

deploy:
  provider: releases
  api_key:
    secure: N8704fxhJUQxBcczICMVuMe5V++3UYsdrB3FENh+BgHNZ70WoCOiDrWaH5T9vmxFGFZjJNTbPXSGdF927GlkQeELcGtiKZa1yzrmQATbJ90s8BIp3Oe4b3bHQoUQgR7XTVo5gipB+RcMTWygnX0KdJzO20uwXKHbVcu7A3ie+CrbxTFI72b2ZplL80OIGTLT/xlQaxSIK9rYQbhR+rwso0fok8rBA4V85Xasckv2D8m3vlkbeydgtrI8CL3jad+mUytCj+XTBlkJptlDZ2VWXz8NmTH6OpGdqca2DZWwEZ8vK9a9DZeMLt51nTlN2KkVzI3rREONYIGimPb3EHZaSjwWV6yRATT/5DAfL0+0YmtrEgVSm8Jp8UUXAG+0tjOPj6raVjmjin9UGCYV/TB0pdqOwvyzLQpGSquvNko7/Hb7IZ+RKWldfQVI61pwiCIBacJ4B19qA7aXLeV0MZVQfINFtQLPOU131jMUCcw8pckF+5iXoU+GP8nLbphVmVid0Mpbleo+OifbeSsbRSaUDBvI1EmqK7eOtcspS1Z+Cmlo1IO2An6qWgu3/rftamAdBdX4IkyZXyRgHf7ey3DxmNByYyfPLtRCHc+/fh6wiARWvSqkCu1xS5kLu7+Qj5IlPqUynwqlwuVYCozhD4MYiobekmgaHLrRL3tTB/6zPMU=
  file_glob: true
  file: target/*.jar
  skip_cleanup: true
  draft: true
  on:
    repo: ipfs-search/ipfs-tika
    tags: true
